@import "bower_components/bourbon/dist/bourbon";

// grid settings
//$column: em(100);
$gutter: em(0);
$grid-columns: 12;
$max-width: em(1224);
$min-width: em(320);

@import "bower_components/neat/app/assets/stylesheets/neat";

$desktop-size: new-breakpoint(min-width 980px);  // display menu with shadow for overlay
$tablet-size: new-breakpoint(max-width 980px);
$mobile-size: new-breakpoint(max-width 640px);

.row {
  @include outer-container;
}

.columns {
  border-collapse: separate;
}

.large-2 {
  @include media($desktop-size) {
    @include span-columns(2);
  }
}

.large-12 {
  @include media($desktop-size) {
    @include span-columns(12);
  }
}

.medium-3 {
  @include media($tablet-size) {
    @include span-columns(3);
  }
}

.medium-12 {
  @include media($tablet-size) {
    @include span-columns(12);
  }
}

.small-6 {
  @include media($mobile-size) {
    @include span-columns(6);
  }
}

.small-12 {
  @include media($mobile-size) {
    @include span-columns(12);
  }
}

.show-for-small-only {
  display: none;
  @include media($mobile-size) {
    display: inline;
  }
}

.show-for-medium-only {
  display: none;
  @include media(min-width 640px max-width 980px) {
    display: inline;
  }

}

.show-for-large-up {
  display: none;
  @include media(min-width 981px) {
    display: inline;
  }
}
